body
{
    background-color: rgb(73, 72, 72);
    font-family: "Merriweather", serif;

}
#container
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
    color:azure;
    margin: top 20px;
    font-size: 66px;
    letter-spacing: 3px;
    font-family: "Rouge Script", cursive;

}
#menu
{
background-color: #303030;
margin-top: 20px;
color: #00000000;
padding: 10px;
}
.option
{
    color: white;
    background-color: rgb(10, 41, 41);
    float: left;
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px dotted #444444;
    opacity: 0.8;
}
.option:hover
{
    background-color: #000000;
    cursor: pointer;


}
#topbar
{

}
#sidebar
{

}
#content
{

}
#footer
{

}