body
{
    background-color: gray;
    font-family: "Bitcount Prop Double Ink", system-ui;

}
#container
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
    color:azure;
    margin: top 20px;
    font-size: 44px;
    letter-spacing: 3px;
}
#menu
{

}
#topbar
{

}
#sidebar
{

}
#content
{

}
#footer
{

}